<!DOCTYPE html>
<html>
<head>
    <title>Product</title>
  
</head>
<body>
    <table>
        <thead>
            <tr>
                {% for col in columns %}
                <th>{{col}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                {% for value in row %}
                    {% if loop.index == 5 %}
                        {% if value == 1 %}
                            <td style="padding: 10px;">True</td>
                        {% else %}
                            <td style="padding: 10px;">False</td>
                        {% endif %}
                    {% else %}
                        <td style="padding: 10px;">{{value}}</td>
                    {% endif %}
                {% endfor %}
                {% if row[4] == 1 %}
                    <td><input class="btn" type="submit" value="add to cart" name="submit"/></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
          
</body>
</html>